.sitetitle{
  background-color: #0476aa;
  color:  #333;
  height: 60px;
}

h1{
  margin-top: 30px;
  text-align: center;
  }

h2{
text-align: center;
}

.navbar{
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
  align-items: center;
  height: 42px;
  
  }