.sitetitle{
  background-color: #0476aa;
  color:  #333;
  height: 60px;
}

h1{
  margin-top: 30px;
  text-align: center;
  }

h2{
  text-align: center;
}

.navbar{
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
  align-items: center;
  height: 42px; 
}

.link {
  background-color: rgb(6, 143, 255);
  color: white;
  padding: 8px 12px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  margin-top: 3px;
  margin-left: 28%;
  text-decoration: none;
  font-style: bold;
  display: inline-block;
}

.link:hover, .link:active .link:visited {
  background-color: #0476aa;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search-icon {
  position: absolute;
  top: 20px;
  left: 8px;
  width: 14px;
}
